.setting {
  margin: 10px 10px 0 10px;
}

.subscription {
  padding-bottom: 5px;
  margin-left: 20px;
}

.unsubscribeAll {
  padding-bottom: 10px;
}

.button {
  appearance: none;
  background: transparent;
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  color: var(--button-desktop-text-color);
  text-decoration: var(--button-text-decoration);
}

.subscriptionButton {
  float: right;
}

.button:hover {
  color: var(--button-desktop-text-color-hover);
  cursor: pointer;
}

.button:focus-visible {
  outline: 1px dotted currentcolor;
  outline-offset: 1px;
}

.notSubscribed {
  padding-bottom: 10px;
}
